.img-container {
    position: relative;
}

.uploaded-image {
    width: 150px;
    height: 150px;
    border: 2px solid grey;
    background-color: white;
    border-radius: 15px;
    position: relative;
    object-fit: cover;

}

.remove-btn {
    position: absolute;
    width: 35px;
    height: 35px;
    border: 2px solid grey;
    background-color: white;
    border-radius: 50%;
    font-size: 1.3rem;
    color: grey;
    top: -12px;
    right: -13px;
    cursor: pointer;
}